{% extends '@admin/timetable/layout.twig' %}

{% set activeTab = '' %}

{% block timetableTitle %}Edytuj plan lekcji klasy {{ class.displayName }}{% endblock %}

{% set lessonId = 1 %}
{% block timetableContent %}
    <table class="table mb-4 lessonsTable">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Poniedziałek</th>
            <th>Wtorek</th>
            <th>Środa</th>
            <th>Czwartek</th>
            <th>Piątek</th>
        </tr>
        </thead>
        <tbody>
        {% for hour in lessonHours %}
            <tr>
                <th scope="row">{{ hour.id }}</th>
                <th scope="row">{{ hour.startsAt|date('H:i') }} - {{ hour.endsAt|date('H:i') }}</th>
                {% for day in 1..5 %}
                    {% set lesson = class.mappedLessons[day][hour.id] %}
                    {% set lessonId = lessonId + 1 %}
                    {% if lesson is not null %}
                        <td id="lesson-{{ lessonId }}">
                            <div class="d-flex">
                                {{ lesson.subject.name }}
                                <a class="text-info ml-auto editLesson" data-hour="{{ hour.id }}" data-subject="{{ lesson.subject.name }}"
                                    href="{{ path('admin.timetable.saveLesson', {class: class.name, day: day, lessonHour: hour.id}) }}">
                                    e
                                </a>
                                <a class="text-danger ml-1 deleteLesson" data-hour="{{ hour.id }}" data-subject="{{ lesson.subject.name }}"
                                   href="{{ path('admin.timetable.deleteLesson', {class: class.name, day: day, lessonHour: hour.id}) }}">
                                    &times;
                                </a>
                            </div>
                        </td>
                    {% else %}
                        <td id="lesson-{{ lessonId }}">
                            <div class="d-flex justify-content-end">
                                <a class="text-success addLesson" data-hour="{{ hour.id }}"
                                    href="{{ path('admin.timetable.saveLesson', {class: class.name, day: day, lessonHour: hour.id}) }}">
                                    +
                                </a>
                            </div>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <div class="modal" tabindex="-1" id="actionModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="actionModal-title">Dodawanie lekcji</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="actionModal-body">Jaki przedmiot jest na tej lekcji?</p>
                    <select id="actionModal-select" class="form-control" style="display: none;"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="actionModal-action">Dodaj lekcję</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var $lessonsTable = $('.lessonsTable');
        $lessonsTable.on('click', '.addLesson, .editLesson, .deleteLesson', openModalFunction);

        function openModalFunction(e) {
            e.preventDefault();
            $('#actionModal').modal('toggle', $(e.target));
        }

        var $modal = $('#actionModal');
        var $modalTitle = $('#actionModal-title');
        var $modalBody = $('#actionModal-body');
        var $modalSelect = $('#actionModal-select');
        var $modalAction = $('#actionModal-action');

        // State for action
        var ACTION_ADD = 0, ACTION_EDIT = 1, ACTION_DELETE = 2;
        var actionState = {
            url: null,
            lessonId: null,
            action: null
        };

        // Modal showing
        $modal.on('show.bs.modal', function (e) {
            var $link = $(e.relatedTarget);

            actionState.lessonId = $link.closest('td').attr('id');
            actionState.url = $link.attr('href');

            var hour = $link.data('hour');
            var subject = $link.data('subject');

            if ($link.hasClass('addLesson')) {
                $modalTitle.text('Dodawanie lekcji');
                $modalBody.text('Jaki przedmiot ustawić na ' + hour + '. lekcję?');
                $modalAction.text('Dodaj lekcję').removeClass('btn-danger').addClass('btn-success');

                showLessonsSelect();

                actionState.action = ACTION_ADD;
            } else if ($link.hasClass('editLesson')) {
                $modalTitle.text('Edycja lekcji');
                $modalBody.text('Jaki przedmiot ustawić na ' + hour + '. lekcję?');
                $modalAction.text('Zaktualizuj lekcję').removeClass('btn-danger').addClass('btn-success');

                showLessonsSelect(subject);

                actionState.action = ACTION_EDIT;
            } else if ($link.hasClass('deleteLesson')) {
                $modalTitle.text('Usuwanie lekcji');
                $modalBody.text('Czy na pewno chcesz usunąć przedmiot ' + subject + ' z ' + hour + '. lekcji?');
                $modalAction.text('Usuń lekcję').removeClass('btn-success').addClass('btn-danger');

                actionState.action = ACTION_DELETE;
            }
        });

        function showLessonsSelect(previousSubject) {
            $modalSelect.show();
            previousSubject = previousSubject || '';

            // Fill <select> with subjects.
            $.ajax({
                url: '{{ path('admin.timetable.subject.list') }}',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var subjects = response.subjects;

                    $modalSelect.empty();

                    var previousSubjectId;
                    subjects.forEach(function (subject) {
                        $modalSelect.append(
                            $('<option>').val(subject.id).text(subject.name)
                        );

                        if (previousSubject === subject.name) {
                            previousSubjectId = subject.id;
                        }
                    });

                    $modalSelect.val(previousSubjectId).change();
                }
            });
        }

        // Modal hidden
        $modal.on('hidden.bs.modal', function () {
            $modalSelect.hide();

            // Reset state.
            actionState = {
                url: null,
                lessonId: null,
                action: null
            };
        });

        $modalAction.on('click', function () {
            console.log(actionState);

            $.ajax({
                url: actionState.url,
                type: ACTION_DELETE === actionState.action ? 'DELETE' : 'POST',
                data: {
                    subject: parseInt($modalSelect.val())
                },
                dataType: 'json'
            }).done(function (response) {
                var $cell = $('#' + actionState.lessonId);
                console.log(actionState.lessonId, $cell);
                if (ACTION_DELETE === actionState.action) {
                    $cell.empty().append(
                        $('<div>').addClass('d-flex justify-content-end').append(
                            $('<a>').attr('href', response.saveUrl).addClass('text-success addLesson').text('+')
                        )
                    );
                } else {
                    $cell.empty().append(
                        $('<div>').addClass('d-flex').append(
                            response.subjectName,
                            $('<a>').attr('href', response.saveUrl).attr('data-hour', response.hour)
                                .addClass('text-info ml-auto editLesson').text('e'),
                            $('<a>').attr('href', response.deleteUrl).attr('data-hour', response.hour)
                                .attr('data-subject', response.subjectName).addClass('text-danger ml-1 deleteLesson')
                                .html('&times;')
                        )
                    )
                }

                $lessonsTable.unbind('click').on('click', '.addLesson, .editLesson, .deleteLesson', openModalFunction);
                $modal.modal('hide');
            }).fail(function (response) {
                console.error('XHR failed', response);
            });
        });
    </script>
{% endblock %}
