{% extends '@admin/layout.twig' %}

{% set active = 'users' %}
{% set title = 'Użytkownicy' %}

{% block content %}
    <div class="d-flex align-items-baseline mb-4">
        <h2 class="h3 mr-auto">
            {% if user is null %}
                Dodaj nowego użytkownika
            {% else %}
                Edytuj użytkownika {{ user.username }}
            {% endif %}
        </h2>
        <a href="{{ path('admin.user.home') }}" class="btn btn-light">Powrót</a>
    </div>
    <form action="{{ user is null ? path('admin.user.newPost') : path('admin.user.editPost', {user: user.id}) }}" method="post">
        {% if user is not null %}
            <input type="hidden" name="_method" value="PATCH">
        {% endif %}
        <div class="form-group">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" id="username" name="username" class="form-control" value="{{ user.username|default }}" required>
        </div>
        <div class="form-group">
            <label for="email">Adres email</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ user.email|default }}" required>
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" class="form-control" {{ user is null ? 'required' : '' }}>
            {% if user is not null %}
                <small class="form-text text-muted">Zostaw puste aby nie zmieniać</small>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="roles">Role</label>
            <select name="roles[]" id="roles" class="form-control" multiple required>
                {% for role in ['ROLE_TIMETABLE', 'ROLE_NEWSFEED', 'ROLE_USERS'] %}
                    <option value="{{ role }}" {{ user.roles is not null and role in user.roles ? 'selected' : '' }}>{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="{{ user is null ? 'Dodaj użytkownika' : 'Zaktualizuj użytkownika' }}" class="btn btn-primary">
    </form>
{% endblock %}
